.gridImage {
    position: fixed;
    z-index: 0;
    opacity: 8%;  /* Start with the grid invisible */
    transition: opacity 0.2s ease-in-out;
    width: 100vw;
    height: 100vh;
    left: 0rem;
    filter: grayscale(100%) invert(100%); 
    mix-blend-mode: screen;
    object-fit: fill;
    
    /* Add radial gradient to blend edges */
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.7) 100%), red;
    pointer-events: none;
}


/* Container */
.container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    flex-direction: column;
}
/* Left Sidebar */
.breadcrumb {
    position: relative;
    /* width: 15vw;  */
    height: clamp(100%);
    display: flex;
    flex-direction: column;
    /* gap: min(1.25rem, 5rem); */
    justify-content: space-between;
    /* margin-bottom: 3rem; */
}

.bottom{
    position: relative;
    /* bottom: 1rem;
    left: calc(30vw); */
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    align-self: center;
    justify-content: center;
    width: fit-content;

    color: var(--font);
    overflow-x: scroll;
    background-color: rgba(117, 117, 117, 0.068);
    backdrop-filter: blur(10px);
}

.content{
    position: relative;
    width: 100%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
/* Home Section */
.home{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    padding: 1rem;
    animation: slideInFromRight 0.8s ease-out forwards;
    transform: translateX(100%); /* Start off-screen */
}

@keyframes slideInFromRight {
    0% {
        opacity: 0%;
        transform: translateX(-200%); /* Start from the right */
    }
    20%{
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translateX(0); /* End at the normal position */
    }
}
canvas{
    display: flex;
    /* width: 5rem; */
    position: relative;

}

/* Projects */
.projects{
    padding: .5rem;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap:1rem;
    border-radius: 1rem;
    height: 70vh;
    overflow: scroll;
    /* background-color: rgba(117, 117, 117, 0.068); */
}
.project-item{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: rgb(250, 236, 253);
    justify-content: space-between;
    align-items: center;
    border-radius: min(1rem, 2rem);
    padding: .5rem;
    gap: 1rem;
    cursor: pointer;
    /* min-width: 20rem; */
    width: auto;
    height: 15rem;
    /* border: solid 0.5px rgba(255, 255, 255, 0.075); */
    /* height: 13rem; */
    /*The transition is set in the JavaScript file (projectpage.js).*/
    box-shadow: 0 0 .5rem rgb(61, 72, 92);
    /* box-shadow: inset 5em 1em rgba(255, 255, 255, 0.349); */
    overflow: hidden;
}
.project-item:hover  {
    background-color: rgb(159, 151, 196);
    color: black;
}
.project-item:hover #tag  {
    background-color: black;
    color: rgb(187, 151, 196);
}
.project-info{
    position: absolute;
    display: none;
    flex-direction: column;
    /* background-color: red; */
    gap: 1rem;
    width: 25rem ;
    /* width: 12rem; */
    transition: 2s ease-in-out !important;
}
.project-item:hover .project-info {
    position: relative;
    display: none;
    justify-content: flex-end;
    /* align-items: end; */
    /* background-color: rgba(0, 0, 0, 0.87); */
    flex-direction: column;
    gap: -1rem;
    z-index: 5;

    transition: ease-in-out display;
}

.content-image {
    height: 15rem;
    object-fit: fill; /* This ensures images are cropped to fit the area without distorting their aspect ratio */
    border-radius: 1rem;
    transition: 2s ease-in-out;
    /* position: absolute; */
}

/* Services */
.services{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap:1rem;
    border-radius: 1rem;
    height: 75vh;
    overflow: scroll;
}
.service-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: black;
    color: rgb(250, 236, 253);
    justify-content: space-between;
    border-radius: 2rem;
    padding: 2rem;
    width: auto;
    cursor: pointer;
    /*The transition is set in the JavaScript file (projectpage.js).*/
    box-shadow: 0 0 .5rem rgba(255, 255, 255, 0.096);
    /* box-shadow: inset 5em 1em rgba(255, 255, 255, 0.349); */
}
.service-item:hover {
    background-color: rgb(171, 151, 196);
    color: black;
}

@media (max-width: 1050px) {
    .gridImage {
        width: 500vw;
        height: 100vh;
    }
    .container {
        gap: 0rem;
        flex-direction: column;
        /* background-color:red; */
    }
    .sidebar{
        width: auto;
        flex-direction: column;
        margin-bottom: 0rem;
    }

    /* .sidebar #bottom::before {
        content: '';
        width: 75vh;
        height: 6vh;
        border-radius: 100%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 7rem;
        left: -5rem;
    }
    .sidebar #bottom::after {
        content: '';
        width: 75vh;
        height: 6vh;
        border-radius: 100%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 12rem;
        left: -5rem;
    } */

    .bottom{
        /* left: 0.5vw; */
        /* height: auto; */
    }

    .content{
        width: auto;
        margin-block: 1rem;
        border-radius: 1rem;
    }
   
}