.effect {
    content: '';
    background-color: rgb(135, 25, 209);
    filter: blur(3rem);
    opacity: 1;
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    opacity: 40%;
    z-index: 0;
    mix-blend-mode: color-dodge;
    transition: .5s;
    
    /* Slower and smoother animation */
    animation: moveEffect 12s ease-in-out infinite; /* Slower by increasing the duration */
}

/* Keyframes to animate the movement */
@keyframes moveEffect {
    0% {
        top: 8rem;
        left: 50rem;
        background-color: rgb(135, 25, 209);
    }
    25% {
        top: 10rem;
        left: 20rem;
        background-color: rgb(34, 113, 204);
    }
    50% {
        top: 20rem;
        left: 20rem;
        background-color: rgb(25, 209, 80);
    }
    75% {
        top: 30rem;
        left: 40rem;
        background-color: rgb(218, 159, 33);
    }
    90% {
        top: 10rem;
        left: 60rem;
        background-color: rgb(233, 147, 36);
    }
    100% {
        top: 8rem;
        left: 50rem;
        background-color: rgb(135, 25, 209);
    }
}
