.effect {
    content: '';
    background-color: rgb(135, 25, 209);
    filter: blur(4rem);
    opacity: 1;
    position: absolute;
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    opacity: 30%;
    z-index: 0;
    mix-blend-mode: color-dodge;
    transition: .5s;
    pointer-events: none;
    
    /* Slower and smoother animation */
    animation: moveEffect 12s ease-in-out infinite; /* Slower by increasing the duration */
}

/* Keyframes to animate the movement */
@keyframes moveEffect {
    0% {
        top: 8rem;
        left: 50rem;
        background-color: rgb(135, 25, 209);
    }
    25% {
        top: 10rem;
        left: 10rem;
        background-color: rgb(34, 113, 204);
    }
    50% {
        top: 20rem;
        left: 20rem;
        background-color: rgb(25, 135, 209);
    }
    75% {
        top: 40rem;
        left: 60rem;
        background-color: rgb(226, 174, 63);
    }
    90% {
        top: 10rem;
        left: 80rem;
        background-color: rgb(238, 128, 55);
    }
    100% {
        top: 8rem;
        left: 50rem;
        background-color: rgb(135, 25, 209);
    }
}

/* Modal styles */
#modal {
    display: flex !important;
    position: fixed;
    justify-content: center;
    /* margin: 0%; */
    left: 0rem;
    z-index: 5000;
    width: 100vw;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.842); /* Transparent background with slight black tint */
    overflow: scroll;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.842);
    padding: 5rem 10rem;
    gap: 1rem;
    width: 40rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: grey;
    text-decoration: none;
  }
  
  .modal p {
    font-size: 16px;
    line-height: 1.5;
  }
