:root{
    --primary-color : #000000;
    --sidebar : darkgrey;
    --rectangle : #8F72E3;
    --inverse : white;
    --font : #1E1E1E;
    --secondary-color : #8F72E3;
    --container : black;
}

[data-theme='dark'] {
    --primary-color: #F6F6F6;
    --sidebar: darkgrey;
    --rectangle: #101010;
    --inverse : black;
    --font: black;
    --secondary-color: #8F72E3;
    --container : white;
    --shadow: black;
}

.theme-button{

    border-radius: 1rem;
    align-self: center;
    margin: .5rem 0.5rem;
    padding: .5rem 0.5rem;
    border: none;
    cursor: pointer;
    color: var(--font);
    transition: .2s ease-in-out;
}
.theme-button:hover{
    border-radius: 1rem;
    padding: .5rem 0.5rem;
    background-color: var(--rectangle);
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    transition: .4s ease-in-out;
}
#nav{
    /* width: 15rem; */
    height: fit-content;
    position: absolute;
    top: 0;
    margin: 1%;
    cursor: pointer;
    backdrop-filter: blur(.5rem);
    background-color: var(--transparent);
    border-radius: 1rem;
    z-index: 9999;
    display: flex;
    flex-direction: row;
}
.boxText{
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}
.boxList{
    display: none;
    width: 100%;
}
.icon-row{
    padding: 1rem;
}
#nav:hover .boxList {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 1rem;
    border-radius: 1rem;
    margin: .5rem;
}
#nav:hover .boxText{
   display: none;
}
.navbar-option {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 100%; /* Make the navbar option fill the container */
    padding: 1rem;
    box-sizing: border-box; /* Ensure padding doesn't cause overflow */
    border-radius: 1rem;
    align-items: center;
    
}
.navbar-option:hover{
    background-color: var(--secondary-color);
}

@media (max-width: 1050px) {
    .right{
        width: 60vw;
        justify-content: end;
    }
    .media{
        display: none;
    }
    .items{
        z-index: 100;
        gap: 1px;
    }
}
