:root{
    --primary-color : #1E1E1E;
    --sidebar : darkgrey;
    --rectangle : #101010;
    --font : white;
    --secondary-color : #8F72E3;
    --container : #0e0e0e8a;
    --shadow : black;
    --h1 : 1rem;
}

html,body{
    background-color: var(--primary-color);
    margin: 0%;
    /* overflow: hidden; */
    font-family: system-ui;
}


::-webkit-scrollbar{
    width: 2px;
    height: 8px;
    padding: 1em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar);
}

.rectangle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20rem;
    background-color: var(--rectangle);
    z-index: 0;
}

.main{
    position: relative;
    /* background-color: yellowgreen; */
    margin: 5%;
    display: flex;
/*     flex-wrap: wrap; */
    flex-direction: column;
    gap: 10rem;

}

/* Hero Section: Includes Image and a text Body */

.hero{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.static_image{
    /* background-color: red; */
    min-width: 70%;
    position: relative;
    /* padding: 2rem; */
    box-shadow: 0rem 0rem 1rem .1rem var(--shadow);
}

.static_image img{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}

.text_body{
    padding: 2%;
    /* background-color: salmon; */
    align-self: flex-end;
}

.text{
    /* background-color: green; */
    position: relative;
    width: 30rem;
    display: flex-end;
    flex-direction: column;
}


/* 2nd Section */
.container{
    position: relative;
    background-color: var(--container);
    opacity: 100%;
    border-radius: 1rem;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 6%;
    box-shadow: 0rem 0rem 1rem .1rem var(--shadow);
}

.moral{
    position: relative;
    font-size: 1.4rem;
    color: aliceblue;
    display: flex;
    text-align: center;
    max-width: 80rem;
}
.groups{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.group1, .group2, .group3, .group4, .group5{
    display: flex;
    /* width: 15rem; */
    /* background-color: crimson; */
    height: 3.67rem;
}

.container img{
    /* background-color: red; */
    height: 100%;
    width: 4rem;
    border-radius: 50%;
}


/* 3rd Section */
.provisions {
    /* background-color: red; */
    position: relative;
    /* margin: 5%; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 2rem;
}

.header{
    /* margin-bottom: 2%; */
    /* background-color: blue; */
}

.categories{
    position: relative;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.category{
    background-color: var(--rectangle);
    padding: 1.4%;
    align-self: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.category:hover{
    background-color: var(--secondary-color);
    transition: .2s ease-in-out;
}

.detail{
    /* margin: 5%; */
    position: relative;
    /* padding: 1rem; */
    width : 100%;
    height : 50rem ;
    box-shadow: 0rem 0rem 1rem .1rem var(--shadow);
}


.gradient{
    position: absolute;
    background-image: linear-gradient(to right, rgba(30,30,30,1), rgba(30, 30, 30, 0.5), rgba(255, 255, 255, 0));
    width: 100%;
    height: 100%;
}

.detail img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.description{
    align-items: center;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    top: 0%;
    padding: 2rem;
    width: 70vw;
    /* background-color: black; */
}
.description h3{
    width: 50rem;
    line-height: 1;
}

.carous{
    z-index: 50;
    position: absolute;
    top: 70%;
    height: 8rem;
    left: 3%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2%;
}

.carous img{
    object-fit: cover;
    overflow: hidden;
}
