:root{
    --primary-color: #F6F6F6;
    --secondary-color: #8F72E3;
    --sidebar: darkgrey;
    --input-box : #E5E5E5;
    --rectangle: #1E1E1E;
    --font: #1E1E1E;
    --font_2 : white;
    --shadow: rgba(14, 14, 14, 0.4);
    --title : 4rem;
    --text : 2rem;
}

[data-theme='dark'] {
    --primary-color : #1E1E1E;
    --secondary-color : #8F72E3;
    --input-box : #E5E5E5;
    --sidebar : darkgrey;
    --rectangle : #101010;
    --font : white;
    --font_2 : white;
    --shadow : rgb(0, 0, 0);
    --title : 4vw;
    --text : 1.5vw;
}

html,body{
    background-color: var(--primary-color);
    margin: 0%;
    /* overflow: hidden; */
    font-family: 'Inter';
}


::-webkit-scrollbar{
    width: 2px;
    height: 8px;
    padding: 1em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar);
}

.rectangle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20rem;
    background-color: var(--rectangle);
    z-index: 0;
}

.main{
    position: relative;
    /* background-color: yellowgreen; */
    margin: 8%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20rem;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--font);
    margin: 0 5%;
    font-size: 2.5rem;
}

h2 {
    font-size: 3rem;
    line-height: 1;
}

h3 {
    background: linear-gradient(to right, #8F72E3 0%, #8F72E3 13%, black 10%, black 100%);
    background-clip: text;
    color: transparent;
    font-size: 3vw;
    width: 35vw;
}

h4, h5 {
    color: var(--font);
    font-weight: 200;
}

h4 {
    font-size: var(--text);
}

h5 {
    font-size: 1vw;
    font-weight: 100;
}

h6 {
    color: var(--font);
    font-size: .7rem;
    width: 10rem;
    margin: 0 5%;
    line-height: 1;
    font-weight: 300;
}

p {
    color: var(--font_2);
    font-size: 1rem;
    /* line-height: 1; */
    font-weight: lighter;
}

/* Hero Section: Includes Image and a text Body */

.hero{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}


.static_image{
    /* background-color: red; */
    display: flex;
    height: 40rem;
    min-width: 40%;
    position: relative;
    /* padding: 2rem; */
    /* box-shadow: 0rem 0rem 1rem .1rem var(--shadow); */
}

.static_image canvas{
    width: 10%;
    height: 100%;
    /* box-shadow: 0rem 0rem 1rem .1rem var(--shadow); */
}

.static_image img{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}

.text_body{
    padding: 2%;
    /* background-color: salmon; */
    align-self: center;
}

.text{
    /* background-color: green; */
    position: relative;
    width: 30rem;
    /* display: flex-end; */
    flex-direction: column;
}


/* 2nd Section */
.container{
    position: relative;
    opacity: 100%;
    border-radius: 1rem;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    /* gap: 0rem; */
    justify-content: space-between;
    align-items: end;

}

.moral{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-align: start;
    max-width: 40rem;
    gap: 1;
    align-self: center;
    color: var(--font);
    font-size: var(--text);
    font-weight: 200;
}

.moral img{
    display: flex;
    width: 4rem;
    box-shadow: 0rem 0rem .2rem 0.0rem var(--shadow);
    border-radius: 100%;
}

.groups{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    justify-content: start;
    gap: 1rem;

}

.group1, .group2, .group3, .group4, .group5{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 20rem;
    height: 8rem;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    box-shadow: 0rem 0rem .2rem 0.0rem var(--shadow);
    /* justify-content: space-between; */
}

.groups img{
    position: relative;
    background-color: var(--rectangle);
    padding: 1rem;
    width: 1rem;
    border-radius: 50%;
}


/* 3rd Section */
.provisions {
    /* background-color: red; */
    position: relative;
    /* margin: 5%; */
    display: flex;
    flex-direction: row;
    /* gap: 1.5rem; */
    justify-content: space-between;
}

.provision_left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80rem;
    align-self: center;
}

.header{
    /* margin-bottom: 2%; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.categories{
    position: relative;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start;
}

.category{
    background-color: var(--rectangle);
    padding: 2%;
    border-radius: .5rem;
    cursor: pointer;
    width: auto;
    transition: .2s ease-in-out;
}

.category:hover{
    background-color: var(--secondary-color);
    width: 20rem;
    transition: .2s ease-in-out;
}

.right_column{
    position: relative;
}

.detail{
    /* margin: 5%; */
    position: relative;
    /* padding: 1rem; */
    width: 50rem;
    height : 40rem ;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem .1rem var(--shadow);
}

.gradient{
    position: absolute;
    background-image: linear-gradient(to right, rgba(30,30,30,1), rgba(30, 30, 30, 0.5), rgba(255, 255, 255, 0));
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.detail img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.description{
    position: absolute;
    z-index: 1;
    padding: 3rem;
    width: 30rem;

}
.description p{
    color: rgba(255, 255, 255, 0);
    transition: .5s ease-in-out;
}
.description p:hover{
    transition: .5s ease-in-out;
    border-top-left-radius: 1rem;
    color: var(--primary-color);
    transition: .5s ease-in-out;
}

.carous{
    z-index: 50;
    position: absolute;
    top: 80%;
    height: 6rem;
    left: 5%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2%;
}

.carous img{
    object-fit: cover;
    overflow: hidden;
}

/* Contact Us Section */

.contact{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}

.contact_left{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: center;
    gap: 5rem;
}
.urlocation{
    display: flex;
    flex-direction: column;
    font-weight: 200;
}


.contact_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
    width: 40rem;
    border-radius: 1rem;
    padding: 3rem;
    margin: 2rem;
    box-shadow: 0rem 0rem .2rem 0.0rem var(--shadow);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8vw;
    font-weight: 200;
    /* gap: .5rem; */
}

label{
    display: flex;
    margin-top: .5rem;
}

input, textarea{
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--input-box);
    margin-top: .5rem;
    border: none;
}


button{
    margin-top: 1rem;
    background-color: var(--secondary-color);
    font-size: 1vw;
    border: none;
    color: var(--primary-color);
    padding: .8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: auto;
    align-self: flex-start;
}