:root{
    --primary-color : #1E1E1E;
    --sidebar : darkgrey;
    --rectangle : #101010;
    --font : white;
    --secondary-color : #8F72E3;
    --shadow : rgba(14, 14, 14, 0.5);
    --title : 4rem;
    --text : 2rem;
}

[data-theme='dark'] {
    --primary-color: #F6F6F6;
    --sidebar: darkgrey;
    --rectangle: #1E1E1E;
    --font: #1E1E1E;
    --secondary-color: #8F72E3;
    --shadow: rgba(14, 14, 14, 0.5);
    --title : 4rem;
    --text : 2rem;
}

html,body{
    background-color: var(--primary-color);
    margin: 0%;
    /* overflow: hidden; */
    font-family: 'Inter';
}


::-webkit-scrollbar{
    width: 2px;
    height: 8px;
    padding: 1em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar);
}

.rectangle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20rem;
    background-color: var(--rectangle);
    z-index: 0;
}

.main{
    position: relative;
    /* background-color: yellowgreen; */
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10rem;

}


h2{
    /* color: linear-gradient(#8F72E3, black); */
    font-size: 3vw;
    margin-bottom: 0;
    line-height: 1;
    font-size: 3vw;
    margin-top: 0;
}


h3{
    background: linear-gradient(to right, #8F72E3 0%, #8F72E3 13%, black 10%, black 100%);
    background-clip: text;
    color: transparent;
    font-size: 3vw;
    margin-bottom: 0;
    line-height: 1;
    width: 35vw;
}

h4{
    /* background-color: bisque; */
    color: var(--font);
    margin: 0;
    font-size: 1.5vw;
    font-weight: 200;
    /* padding-left: .5rem; */
}

h5{
    color: var(--font);
    font-size: 1vw;
    font-weight: 100;
    margin: 0;
    /* padding-left: .5rem; */
}

p{
    color: var(--font);
    font-size: 1vw;
    font-weight: lighter;
}


/* Hero Section: Includes Image and a text Body */

.hero{
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}


.static_image{
    /* background-color: red; */
    display: flex;
    height: 20rem;
    min-width: 40%;
    position: relative;
    /* padding: 2rem; */
    /* box-shadow: 0rem 0rem 1rem .1rem var(--shadow); */
}

.static_image canvas{
    width: 10%;
    height: 100%;
}

.static_image img{
    width: 100%;
    height: 100%;
    /* background-color: blueviolet; */
}

.text_body{
    padding: 2%;
    /* background-color: salmon; */
    align-self: flex-end;
}

.text{
    /* background-color: green; */
    position: relative;
    width: 30rem;
    display: flex-end;
    flex-direction: column;
}


/* 2nd Section */
.container{
    position: relative;
    opacity: 100%;
    border-radius: 1rem;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    /* gap: 0rem; */
    justify-content: space-between;
    align-items: end;

}

.moral{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-align: start;
    max-width: 40rem;

    align-self: center;
    color: var(--font);
    font-size: var(--text);
    font-weight: 200;
}

.groups{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    justify-content: start;
    gap: 1rem;

}

.group1, .group2, .group3, .group4, .group5{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 20rem;
    height: 8rem;
    gap: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    box-shadow: 0rem 0rem .2rem 0.0rem var(--shadow);
    /* justify-content: space-between; */
}

.container img{
    position: relative;
    background-color: var(--rectangle);
    padding: 1rem;
    width: 1rem;
    border-radius: 50%;
}


/* 3rd Section */
.provisions {
    /* background-color: red; */
    position: relative;
    /* margin: 5%; */
    display: flex;
    flex-direction: row;
    /* gap: 1.5rem; */
    justify-content: space-between;
}

.header{
    /* margin-bottom: 2%; */
    /* background-color: blue; */
    width: 80rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categories{
    position: relative;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: start;
}

.category{
    background-color: var(--rectangle);
    padding: 2%;
    border-radius: .5rem;
    cursor: pointer;
    width: auto;
    transition: .2s ease-in-out;
}

.category:hover{
    background-color: var(--secondary-color);
    width: 20rem;
    transition: .2s ease-in-out;
}

.detail{
    /* margin: 5%; */
    position: relative;
    /* padding: 1rem; */
    width : 100%;
    height : 40rem ;
    border-radius: 20rem;
    box-shadow: 0rem 0rem 1rem .1rem var(--shadow);
}


.gradient{
    position: absolute;
    background-image: linear-gradient(to right, rgba(30,30,30,1), rgba(30, 30, 30, 0.5), rgba(255, 255, 255, 0));
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.detail img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.description{
    align-items: center;
    vertical-align: middle;
    position: absolute;
    z-index: 1;
    top: 0%;
    padding: 2rem;
    width: 40vw;
    /* background-color: black; */
}
.description h3{
    width: 50rem;
    line-height: 1;
    
}

.carous{
    z-index: 50;
    position: absolute;
    top: 70%;
    height: 8rem;
    left: 3%;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2%;
}

.carous img{
    object-fit: cover;
    overflow: hidden;
}